<form class="order-card" [formGroup]="orderForm" (ngSubmit)="Submit()">

  <div
    [ngClass]="{invalid: orderForm.get('password').touched && orderForm.get('password').invalid}"
    class="">
    <h3>Create a password for your account</h3>
    <label for="password">email@email.com</label>
    <input id="password" type="password" placeholder="Create a password" formControlName="password">
    <div
    *ngIf="orderForm.get('password').touched && orderForm.get('password').invalid"
    class="validation">
      <small *ngIf="orderForm.get('password').errors.required">Enter your password</small>
      <small *ngIf="orderForm.get('password').errors.minLength">
        Password must be at least
        {{orderForm.get('password').errors.minLength.requiredLength}} symbols.
        Now you entered
        {{orderForm.get('password').errors.minLength.actualLength}} symbols.
      </small>
    </div>
  </div>

  <h3 class="form-address">Shipping address</h3>
<!--  <label for="firstName">First name</label>-->
  <input id="firstName" type="text" placeholder="First name" formControlName="firstName">
<!--  <label for="lastName">Last name</label>-->
  <input id="lastName" type="text" placeholder="Last name" formControlName="lastName">
<!--  <label for="address">Address</label>-->
  <input id="address" type="text" placeholder="Address" formControlName="address">
<!--  <label for="apartment">Apartment, suite, etc. (optional)</label>-->
  <input id="apartment" type="text" placeholder="Apartment, suite, etc. (optional)" formControlName="apartment">
<!--  <label for="city">City / suburb</label>-->
  <input id="city" type="text" placeholder="City / suburb" formControlName="city">
<!--  <label for="country">Country</label>-->
  <input id="country" type="text" formControlName="country">
<!--  <label for="state">State</label>-->
  <input id="state" type="text" formControlName="state">
<!--  <label for="zipcode">Zipcode</label>-->
  <input id="zipcode" type="text" placeholder="Zipcode" formControlName="zipcode">
<!--  <label for="phone">Phone number (optional)</label>-->
  <input  id="phone" type="tel" placeholder="Phone number (optional)" formControlName="phone">

  <button
    type="submit"
    class="btn">
    Continue to shipping method
  </button>
</form>
