<form class="order-card" [formGroup]="orderForm" (ngSubmit)="Submit(this.contries.id)">

  <div
    [ngClass]="{invalid: orderForm.get('password').touched && orderForm.get('password').invalid}"
    class="">
    <h3>Create a password for your account</h3>
    <label for="password">email@email.com</label>
    <input id="password" type="password" placeholder="Create a password" formControlName="password">
    <div
    *ngIf="orderForm.get('password').touched && orderForm.get('password').invalid"
    class="validation">
      <small *ngIf="orderForm.get('password').errors.required">Enter your password</small>
      <small *ngIf="orderForm.get('password').errors.minLength">
        Password must be at least
        {{orderForm.get('password').errors.minLength.requiredLength}} symbols.
        Now you entered
        {{orderForm.get('password').errors.minLength.actualLength}} symbols.
      </small>
    </div>
  </div>

  <div class="">
    <h3 class="form-address">Shipping address</h3>
    <div>
      <input id="firstName" type="text" placeholder="First name" formControlName="firstName">
    </div>
   <div>
    <input id="lastName" type="text" placeholder="Last name" formControlName="lastName">
   </div>
    <input id="address" type="text" placeholder="Address" formControlName="address">
    <input id="apartment" type="text" placeholder="Apartment, suite, etc. (optional)" formControlName="apartment">
    <input id="city" type="text" placeholder="City / suburb" formControlName="city">
    <select [(ngModel)]="selectedCountry.id">
      <option value="0">Country</option>
      <option
        *ngFor="let selectedCountry of contries"
        value="selectedCountry.id">
        {{selectedCountry.name}}</option>
    </select>
    <select>
      <option value="0">States</option>
      <option
        *ngFor="let states of states"
        value="states.id">
        {{states}}
      </option>
    </select>
    <input id="zipcode" type="text" placeholder="Zipcode" formControlName="zipcode">
    <input  id="phone" type="tel" placeholder="Phone number (optional)" formControlName="phone">
  </div>

  <button
    type="submit"
    class="btn">
    Continue to shipping method
  </button>
</form>
